.movie-details-container {
    margin-top: 1rem;
    margin-left: 2vw;
    display: flex;
    flex-direction: row;
}

.movie-details-poster-container {
    padding: 0.25rem;
    width: 18vw;
    min-width: 225px;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color: #202020;
    align-self: flex-start;
    position: sticky;
    top: calc(64px + 0.5rem);

}

.movie-details-poster-container h3{
    color: #6da6d5;
    text-align: center;
    width: 90%;
}

.movie-details-description {
    text-align: justify;
    font-size: 0.9rem;
    width: 90%;
}

.movie-details-poster-container img {
    width: 100%;
    height: 100%;
}

.movie-details-info-container {
    width: 40vw;
    max-width: 800px;
}

.movie-details-info-container > * {
    margin-bottom: 0.5rem;
    border-bottom:1px solid #262626;
}

.movie-details-info {
    display: flex;
}





.movie-details-info-label {
    width : 110px;
    flex-shrink: 0;
}


.movie-details-genre-ul {
    list-style: none;
    display: inline-flex;
}

.movie-details-genre-li {
    margin-right: 0.5rem;
}



.info-fragment > * {
    margin-bottom: 0.5rem;
}

.info-fragment >:last-child {
    margin-bottom: 1rem;
}

.info-fragment-title {
    font-size: 1.75rem;
    color:#6da6d5;
    margin-bottom: 1rem;
}



.cast-info-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cast-info-img-container {
    width: 30px;
    height: 40px;
    flex-shrink: 0;
}

.cast-info-img-container img {
    width: 100%;
    height: 100%;
}   


.cast-info-details span:hover {
    color: #6da6d5;
    cursor: pointer;
}


.similar-movie-container {
    width: 100%;
    display: grid;
    grid-gap: 0.5rem;

    /* align-content: center; */
    justify-items: stretch;
    align-content: center;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));


}



@media (max-width: 800px) {
    /* CSS styles for small screens go here */
    .movie-details-container{
        /* grid-template-columns: repeat(auto-fill, minmax(110px, 1fr)); */
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
        gap: 1.5rem;
        /* align-items: flex-start; */
    }
    .movie-details-poster-container {
        width: 100%;
        flex-direction: row;
        position: relative;
        top: 0;
        margin-right: 0;
    }

    .movie-details-poster-container img {
        width: 111px;
    }

    .movie-details-poster-container h3 {
        display: none;
    }

    .movie-details-info-container {
        width: 100%;
    }
    iframe {
        width: 100%;
    }
}
  