
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    padding-left: calc(1rem + 2.5vw) ;
    padding-right: 2vw;
    z-index: 10000;
    padding-top:  1rem;
    padding-bottom: 1rem;
    font-size: 1.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    /* background-color: #141414;
    background-color: #191919; */
}

.navbar > * {
    margin-right: 1.5rem;
}



.navbar-icon {
    display: flex;
    align-items: center;
}

.navbar-icon > :first-child {
    margin-right: 0.5rem;
    font-size: 1.25rem;
}

.navbar-icon p {
    font-size: 1rem;
}

.navbar-icon:hover {
    color:white;
}

.brand p {
    font-size: 1.25rem;
}
.brand > :first-child {
    font-size: 1.5rem;
}



.navbar-search {
    width: 27.5%;
    position: relative;

}



.navbar-search-input {
    background-color: #141414;
    color: inherit;
    font-size: 0.9rem;
    width: 100%;
    height: 2rem;
    padding-left: 0.75rem;
    border: none;
    outline: 1px solid #262626;
    border-radius: 0.125rem;
}



.forward {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1px;
}


.navbar-search-input:focus,
.navbar-search-input:active {
    outline-color: #2b5262;
}




@media (max-width: 800px) {
    .navbar-search {
        width: calc(100% - 2rem);
    }
    .navbar > * {
        margin-right: 0;
    }
    .navbar {
        gap: 1rem;
        padding: 1rem 0.75rem;
    }

    .company-name {
        display: none;
    }
}
  