.scroll-top-button {
    position: fixed;
    z-index: 10;
    bottom: 25px;
    right: 30px;
    width: 60px;
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff12;
    /* padding: 1rem; */
    text-align: center;
    opacity: 1;
}

.scroll-top-icon {
    height: 100%;
    display: flex;
    align-items: center;    
    justify-content: center;
}